<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    

    <link rel="stylesheet" href="/static/css/stylesheet.css">


    <title>Tool 1</title>
  </head>
  <body>
    <!--Navbar Section-->
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="/">Youtube Utilities</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <input type="submit" value="Home" class="btn solid home" onclick="window.location.href='index';"/>
                </li>
                <li class="nav-item">
                  <input type="submit" value="Watch later" class="btn solid active" onclick="window.location.href='watch-later';"/>
                </li>
                <li class="nav-item">
                    <input type="submit" value="Subscription" class="btn solid subs" onclick="window.location.href='subscription';"/>
                </li>
            </ul>
        </div>
  
    </nav>

    

    <!--Main body-->
    <section class="main" id="main-wrapper">
        <div class="row no-gutters">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h3 style="font-style:oblique; font-weight: 600; margin-top: 20px;">Input Text</h3>
                    <form action="/process-textarea" method="POST">
                        <textarea id="textarea-content" name="textarea-content" placeholder="Write Something..."></textarea>
                    </form>
                    <button type="button" class="btn btn-success btn-lg" onclick="myfunction()">Submit</button>
                </div>
                <div class="col-sm-6">
                    <h3 style="font-style: oblique; font-weight: 600; margin-top: 20px;">Result</h3>
                    <pre data-bind="text: result-text" id="code"></pre>
                    <button type="button" class="btn btn-success btn-lg" onclick="downloadCsv()">Download CSV</button>
                    <script>

                    function myfunction(){
                        let codeString = document.getElementById("textarea-content").value;
                        if (codeString.includes("<!DOCTYPE html>") && codeString.includes("</html>")) {
                            
                            let options = {
                            method: "POST",
                            headers: {
                            "Content-type": "application/json"
                            },

                            body: JSON.stringify({
                            user_html: codeString
                            }),

                            }
                            fetch('http://127.0.0.1:5000/data', options)
                            .then((response) => response.json())
                            .then((data) => {
                            
                            let abcd = data['ans'];
                            
                            document.getElementById("code").innerHTML = abcd;
                            })
                        } else {
                            document.getElementById("code").innerHTML = "The code is not HTML.";
                        }
                    }
                    function downloadCsv(){
                        let content = document.getElementById("code").innerText;
                        let blob = new Blob([content], {type: "text/csv;charset=utf-8"});
                        let url = URL.createObjectURL(blob);
                        let link = document.createElement("a");
                        link.download = "Watch-later.csv";
                        link.href = url;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                    </script>
                </div>
                
            </div>
        </div>

    </section>



  </body>
</html>